.mainJobList-filter{
    p{
        margin-bottom: 0;
    }
    .jobList-filter__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .jobList-filter__item{
            display: flex;
            justify-content: flex-start;
            align-items:center;
        }
        .jobList-filter__itemTitle{
            font-size: 15px;
            font-weight: 600;
            margin-right: 5px;
            color: #73BFDD;
        }
    }
    .jobList-filter__itemSub{
        margin-left: 30px;
    }
    .jobList-filter__itemFeature{
        .ant-select-selector{
            border: 1px solid #bfbfbf36;
        }
        span.ant-select-arrow{
            font-size: 10px;
            top: 60%;
        }
        .ant-switch-checked{
            background-color: #FF7070;
        }
        .ant-form-item{
            margin-bottom: 0;
        }
    }
}
.ant-select-dropdown{
    z-index: 999999999999999!important;
}