.fiverrReview__content {
  display: flex !important;
  align-items: center;
}

.fiverrReview .fiverrReview__video {
  position: relative;
  width: 38%;
  height: 100%;
}
.fiverrReview a {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.fiverrReview .fiverrReview__btnPlay {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.726);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
}
.fiverrReview__video i {
  color: white;
  font-size: 25px;
}
.fiverrReview__box {
  width: 60%;
  padding: 0 20px 0 48px;
}
.fiverrReview__box h5 {
  display: inline;
  font-weight: 400;
  color: #7a7d85;
  padding-bottom: 30px;
  font-size: 20px;
  position: absolute;
  top: 15px;
}
.fiverrReview__box span {
  border-left: 1px solid #c5c6c9;
  padding-left: 8px;
  margin-left: 8px;
}
.fiverrReview__box img {
  height: 36px;
  display: inline !important;
}
.fiverrReview__box p {
  font-size: 30px;
  line-height: 44px;
  font-weight: 500;
  padding-top: 25px;
  margin-bottom: 0;
  color: #003912;
}
.slick-next,
.slick-prev {
  z-index: 2;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
}
.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: white;
  outline: 0;
  background: white;
}
.slick-next:before,
.slick-prev:before {
  content: "";
  display: inline-block;
  background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg)
    no-repeat;
  background-size: 16px 64px;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  opacity: 1;
}
.slick-prev:before {
  background-position: 0 -32px;
}
.slick-next:before {
  background-position: 0 -48px;
}
.img-fluid {
  width: 100%;
}
.fiverrReview {
  .fiverrReview__container {
    max-width: 1290px;
    .slick-prev {
      left: -25px;
      padding: 25px;
      background-color: white;
      top: 46%;
    }
    .slick-next {
      right: -18px;
      padding: 25px;
      background-color: white;
      top: 46%;
    }
    .slick-prev:before,
    .slick-next:before {
      color: transparent;
      position: absolute;
      top: 31%;
      right: 33%;
    }
  }
}
