@import "helpers/variables.scss";

    .carousel-middle{
        margin-top:55px;
        .img-item{
            position:relative;
            span{
                position:absolute;
                font-size:$fs-4;
                top:20px;
            left:25px;
                color:#fafafa;
                font-weight:bolder;
                p{
                    font-size:$fs-3;
                font-weight:normal;

                }
            }
            img{
                width:100%;
                height:225px
            }
        }

        .slick-dots{
            left: -40%;
            display: block;
            bottom: 10%;
            li{
                
                button{
                   &:before{ font-size:12px;}
                   &:hover:before{ color:white}
                }
                
                .slick-active{
                    button{
                        &:before{
                        color:white }
                    }
                }
                   
            }
        }
    }
    
.slick-dots li.slick-active button:before{
    color:white !important
}