.satisticContent__conatiner{
    height: 300px;
    align-content: space-between;
    .satistic__item{
        &:nth-of-type(1), &:nth-of-type(3){
            padding-right: 15px;
        }
        &:nth-of-type(2), &:nth-of-type(4){
            padding-left: 15px;
        }
    }
    .satistic__itemContent{
        padding: 35px 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 20px;
        transition: box-shadow .3s;
        cursor: default;
        &:hover{
            box-shadow: 0 7px 14px 0 #ccc;
        }
    }
    .satistic_itemJobQty{
        background: linear-gradient(to left, #3a7bd5, #3a6073);
    }
    .satistic_itemClientQty{
        background: linear-gradient(to right, #c33764, #1d2671);
    }
    .satistic_itemjobBookingQty{
        background: linear-gradient(to left, #d38312, #a83279);
    }
    .satistic_itemjobEarning{
        background: linear-gradient(to left, #134e5e, #71b280);
    }
    .satistic__itemIcon{
        height: 55px;
        width: 55px;
        flex-shrink: 0;
        border-radius: 50%;
        background-color: #00000021;
        text-align: center;        
        color: #fff;
        font-weight: 600;
        font-size: 22px;
        span.anticon{
            line-height: 50px;
        }
    }
    .satistic__itemIcon.dontShow{
        display: none;
    }
    .satistic__itemNumber{
        margin-left: 15px;
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@import "helpers/variables.scss";
@import "helpers/mixin.scss";

//responsive
@include maxResponsive("large-down"){
    .satisticContent__conatiner{
        .satistic__itemContent{
            padding: 35px 10px;
        }
    }
}
@include maxResponsive("medium-down"){
    .satisticContent__conatiner{
        margin-top: 30px;
    }
}
@include maxResponsive("small-down"){
    .satisticContent__conatiner{
        height: auto;
        margin-top: 15px;
        .satistic__item{
            margin: 15px 0;
        }
        .satistic__itemNumber{
            font-size: 18px;
        }
        .satistic_itemJobQty{
            background: linear-gradient(to left, #3a6073, #3a7bd5);
        }
        .satistic_itemClientQty{
            background: linear-gradient(to right, #c33764 , #1d2671);
        }
        .satistic_itemjobBookingQty{
            background: linear-gradient(to left, #a83279 , #d38312);
        }
        .satistic_itemjobEarning{
            background: linear-gradient(to left, #134e5e, #71b280);
        }
    }
} 