.adminContainer{
  background-color: #EAEEF3;
  min-height: calc(100vh - 50px);
}
.adminContainer.fix{
  position: fixed;
  width: 100%;
  margin: auto;
}
.ant-modal-root{
  .ant-modal-wrap{
    z-index: 200001;
  }
  .ant-modal-mask{
    z-index: 200001;
  }
}
.adminContainer-content{
  display: flex;
  margin-top: 50px;
  .adminContent__sidebar{
    width: 240px;
    flex-shrink: 0;
    display: block;
    min-height: calc(100vh - 50px);
    padding-top: 30px;
  }
  .adminContent__sidebar.inFix{
    width: 70px;
    transition: width .1s;
    &:hover{
      width: 240px;
      .adminSideBar.inFix {
          p{
            visibility: visible;
            opacity: 1;
            transition-delay: .2s;
          }
          .Menucollapse{
            span{
              &:nth-of-type(2){
                visibility: visible;
                opacity: 1;
                transition-delay: .2s;
              }
            }
          }
        }
    }
  }
  .adminContent__main{
    flex-grow: 1;
    padding-left: 29px;
    padding-top: 30px;
    padding-right: 25px;
    overflow-x: hidden;
  }
}

// theme setting
@import "helpers/variables.scss";
.adminContainer-content{
.adminContent__sidebar.lightTheme {
  background-color: transparent!important;
}
.adminContent__sidebar.darkTheme {
  background-color: $color-main-2 !important;
}
.adminContent__sidebar.custom1{
  background-color: $color-main-3 !important;
}
.adminContent__sidebar.custom2{
  background-color: $color-main-4 !important;
}
.adminContent__sidebar.custom3{
  background-color: $color-main-5 !important;
}
.adminContent__sidebar.custom4{
  background-color: $color-main-6 !important;
}
}

@import "helpers/variables.scss";
@import "helpers/mixin.scss";

// responsive
@include maxResponsive("large-down"){
  .adminContainer-content{
    .adminContent__sidebar{
      position: absolute;
      top: 50px;
      left: 0;
      transition: left 0.2s;
      z-index: 9999;
      height: 100%;
      width: 240px;
    }
    .adminContent__sidebar.lightTheme {
      background-color: #fff!important;
    }
    .adminContent__sidebar.inFix{
      left: -100%;
    }
    .adminContent__main{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

