@import "helpers/variables";

.form-create-job-by-user {
  color: $color-nav-title;
  background-color: #f7f7f7;
  padding-bottom: 150px;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  .stepsbar-create-job-by-user {
    padding-top: 20px;
    font-weight: 600;
    width: 60%;
    margin: auto;
    .ant-steps-item-process {
      .ant-steps-item-icon {
        background-color: $color-green-all;
        border: none;
      }
    }
    .ant-steps-item-finish {
      .ant-steps-item-icon {
        border: 2px solid $color-green-all;
        .ant-steps-finish-icon {
          color: $color-green-all;
          transform: translate(0%, -25%);
          font-size: 20px;
        }
      }
      .ant-steps-item-content {
        & > .ant-steps-item-title:after {
          background-color: $color-green-all;
          height: 2px;
          opacity: 0.5;
        }
      }
    }
  }
  .content-create-job-by-user {
    width: 60%;
    margin: 50px auto 0;
    background-color: white;
    border: 1px solid $color-cato-sub;
    padding: 20px;
    //render overview

    .render-overview {
      label[title] {
        width: 100px;
        color: $color-nav-title;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
      }
      .item-name {
        .ant-form-item-control-input-content {
          position: relative;
          span {
            z-index: 1;
            top: 9%;
            position: absolute;
            left: 0;
            font-weight: 700;
            font-size: 16px;
            padding-left: 10px;
          }
          input {
            padding-left: 55px;
          }
        }
      }
      .item-select {
        .ant-form-item-control-input-content {
          display: flex;
          gap: 50px;
        }
      }
      .item-status {
        .ant-form-item-control-input-content {
          display: flex;
          justify-content: space-between;
          label {
            font-size: 13px;
            font-weight: 600;
            margin-right: 5px;
          }
        }
      }
    }
    //render upload avatar
    .render-upload-avatar {
      & > h3 {
        font-size: 28px;
        color: $color-sm-title;
      }
      & > p {
        color: $color-sm-title;
        font-size: 16px;
      }
      .dragger-image {
        display: flex;
        gap: 60px;
        .ant-upload-drag {
          .ant-upload-btn {
            padding: 16px;
          }
        }
        .ant-upload-list-picture-card {
          display: none;
        }
      }
      .ant-show-upload-image {
        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }
    }
    //render done
    .render-done {
      .done-content {
        margin: auto;
        text-align: center;
        width: 50%;
        h3 {
          color: #00668c;
          font-size: 40px;
          line-height: 120%;
        }
        p {
          color: #404145;
          font-weight: 700;
          font-size: 24px;
          line-height: 31px;
        }
      }
    }
  }
  .steps-action {
    position: absolute;
    bottom: 24px;
    text-align: center;
    padding-bottom: 40px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    .ant-form-item-control-input-content {
      display: flex;
      justify-content: space-around;
    }
    .btn-pre-steps {
      border-radius: 5px;
      padding: 0 35px;
      font-size: $fs-3;
      background-color: $color-white;
      height: 50px;
      font-weight: $fw-4;
      border: 1px solid $color-cato-sub;
      &:hover {
        color: $color-green-all;
      }
    }
    .btn-next-steps {
      border: none;
      border-radius: 5px;
      background-color: $color-green-all;
      color: $color-white;
      padding: 0 35px;

      font-size: $fs-3;
      font-weight: $fw-4;
      transition: all 0.2s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .form-create-job-by-user {
    .content-create-job-by-user {
      .render-overview {
        label[title] {
          width: 80px;
        }
      }
      .render-upload-avatar {
        .dragger-image {
          .ant-upload-drag {
            .ant-upload-hint {
              display: none;
            }
          }
        }
      }
      .render-done {
        .done-content {
          width: 90%;
        }
      }
    }
    .steps-action {
      width: 50%;
    }
  }
}
@media only screen and (max-width: 414px) {
  .form-create-job-by-user {
    padding-bottom: 50px;
    .content-create-job-by-user {
      width: 85%;
      padding-bottom: 0;
      .render-overview {
        .item-select {
          .ant-form-item-control-input-content {
            gap: 24px;
            flex-direction: column;
          }
        }
      }
      .render-upload-avatar {
        h3 {
          font-size: 22px;
        }
        p {
          font-size: 12px;
        }
        .dragger-image {
          gap: 20px;
          padding-bottom: 20px;
          .ant-upload-drag {
            .ant-upload-drag-container {
              .ant-upload-text {
                font-size: 12px;
              }
            }
          }
        }
      }
      .render-done {
        .done-content {
          width: 100%;
          h3 {
            font-size: 32px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
    .steps-action {
      padding-bottom: 0;
      bottom: 10px;
      right: 5px;
      .btn-pre-steps,
      .btn-next-steps {
        font-size: 12px;
        padding: 0 10px;
        height: 30px;
      }
    }
    .stepsbar-create-job-by-user {
      display: flex;
      width: 85%;
      .ant-steps-item {
        .ant-steps-item-icon {
          margin-top: 4px;
          width: 24px;
          height: 24px;
          .ant-steps-icon {
            top: -4.5px;
          }
        }
        .ant-steps-item-title {
          font-size: 12px;
        }
      }
    }
  }
}
