.topJob, .topUser{
    .topJob__content, .topUser__content{
        table{
            position: relative;
            th {
              padding: 10px 5px !important;
              text-align: center !important;
            }
            .ant-table-tbody{
              tr{
                &:nth-of-type(2){
                      color: #ff7070;
                      font-weight: 600;
                }
                &:nth-of-type(3){
                  color: #73BFDD;
                  font-weight: 600;
                }
                &:nth-of-type(4){
                      color: #5093eb;
                      font-weight: 600;
                }
                td {
                  font-size: 15px;
                  text-align: center !important;
                  padding-left: 5px !important;
                  padding-right: 5px !important;
                }
              }
            }
           
          }
    }
}