.styleErrors {
  color: red;
}
//quan ly nguoi dung

.main-manage-user {
  .input-search {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    & > span {
      width: 300px;
    }
  }
  .search-button-add-new {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    & > span {
      width: 300px;
    }
  }
  .btn-delete-user {
    color: red;
    cursor: pointer;
  }
}

//them moi

.ant-form {
  .form-add-new {
    .ant-form-item {
      justify-content: center;
    }
  }
  .btn-add-new {
    margin-left: 400px;
  }
}

//cap nhat

.ant-form {
  .form-update {
    .ant-form-item {
      justify-content: center;
    }
  }

  .btn-update {
    margin-left: 400px;
  }
}

//popover
.ant-popover {
  .ant-popover-content {
    width: 200px;
    margin-right: 42px;
  }
}
