.styleErrors {
  color: red;
}
//quan ly nguoi dung
.search-button-add-new {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  & > span {
    width: 300px;
  }
}
.main-manage-user {
  .form-title-manage-user {
    text-align: center;
  }
  .btn-delete-user{
      color: red;
      cursor: pointer;
      
  }
}

//them moi
.form-them-moi {
  .ant-form-item {
    justify-content: center;
  }
}

.ant-layout {
  .btn-them-moi {
    margin-left: 400px;
  }
}

.form-title-them-moi {
  text-align: center;
}

//cap nhat
.form-cap-nhat {
  .ant-form-item {
    justify-content: center;
  }
}
.form-title-cap-nhat {
  text-align: center;
}

.ant-layout {
  .btn-cap-nhat {
    margin-left: 400px;
  }
}
