@import "helpers/mixin.scss";

.carousel {
  position: relative;
  color: white;
  line-height: 0;
  .carousel-text {
    max-width: 1400px;
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 30px;
    color: white;
    width: 56%;
    & > p {
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
    }
    .search-input-antd-carousel {
      width: 80%;
      .ant-input-group {
        .ant-input {
          border-radius: 5px 0 0 5px;
          padding: 10px;
        }
        .ant-input-group-addon {
          background-color: #1dbf73;
          border-radius: 0 5px 5px 0;

          button {
            border: none;
            background-color: #1dbf73;
            color: white;
            font-weight: bolder;
            padding: 0 25px;
            font-size: 18px;
          }
        }
      }
    }
    .carousel-input-search {
      display: flex;
      position: relative;
      margin-bottom: 15px;
      margin-top: -20px;
      color: black;
      i {
        position: absolute;
        color: gray;
        font-size: 16px;
        top: 13px;
        left: 10px;
      }
      input {
        padding: 10px 270px 10px 35px;
        border: 1px solid #dadbdd;
        border-radius: 5px 0 0 5px;
        border-right: none;
        font-size: 15px;
      }
      button {
        border: none;
        background-color: #1dbf73;
        border-radius: 0 5px 5px 0;
        color: white;
        font-weight: bolder;
        padding: 0 25px;
        font-size: 18px;
        a {
          color: white;
        }
      }
    }
    .carousel-popular {
      display: flex;
      font-weight: bold;
      font-size: 14px;
      padding: 20px 0;

      ul {
        li {
          display: inline;
          padding: 3px 10px;
          margin-left: 12px;
          border: 1px solid white;
          border-radius: 15px;
          transition: all 0.5s;
          &:hover {
            background-color: white;
          }
          a {
            color: white;
            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }

  .carousel-hero1 {
    @include herobackground("../assets/images/homeNotLogin/carousel/bg-hero-1-1792-x1.jpg");
  }
  .carousel-hero2 {
    @include herobackground("../assets/images/homeNotLogin/carousel/bg-hero-2-1792-x1.jpg");
  }
  .carousel-hero3 {
    @include herobackground("../assets/images/homeNotLogin/carousel/bg-hero-3-1792-x1.jpg");
  }
  .carousel-hero4 {
    @include herobackground("../assets/images/homeNotLogin/carousel/bg-hero-4-1792-x1.jpg");
  }
  .carousel-hero5 {
    @include herobackground("../assets/images/homeNotLogin/carousel/bg-hero-5-1792-x1.jpg");
  }
  .carousel-name-hero {
    position: absolute;
    bottom: 22px;
    right: 60px;
    font-size: 18px;
  }
  .carousel-trusted {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 20px 0 10px 0;
    background-color: #fafafa;
    span {
      color: #b2b1b1;
      font-size: 18px;
      font-weight: 600;
      padding-right: 60px;
    }
    li {
      display: inline;
      padding-right: 40px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .carousel {
    .carousel-text {
      top: 20%;
      width: 93%;
      p {
        font-size: 40px;
        line-height: 48px;
      }
      .carousel-popular {
        display: none;
      }
      .search-input-antd-carousel {
        width: 100%;
        .ant-input-group {
          display: flex;
          flex-direction: column;
          .ant-input {
            border-radius: 5px;
            width: 100%;
            padding: 15px 10px;
          }
          .ant-input-group-addon {
            padding: 10px;
            width: 100%;
            margin-top: 14px;
            border-radius: 5px;
          }
        }
      }
    }
    .slick-slider {
      .slick-list {
        width: 10000px;
        height: 480px;
        .carousel-name-hero {
          display: none;
        }
      }
    }
    .carousel-trusted {
      padding: 5px 0 0 0;
      .trusted-text {
        display: none;
      }
      ul {
        li {
          padding-right: 14px;
          &:last-child {
            display: none;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 575.99px) {
  .carousel {
    .carousel-text {
      width: 86%;
      top: 18%;
      p {
        font-size: 35px;
      }
      .search-input-antd-carousel {
        width: 100%;
        .ant-input-group {
          display: flex;
          flex-direction: column;
          .ant-input {
            padding: 10px;
          font-size: 15px;
          }
          .ant-input-group-addon {
            padding: 8px;
            width: 100%;
            margin-top: 14px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
