.AdminHeader {
  // background-color: #fff;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  min-height: 50px;
  filter: none;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  display: fixed;
  .adminHeader-container {
    padding: 10px 25px;
  }
  .adminHeader-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      margin-bottom: 0;
    }
  }
  .header__left,
  .header__user {
    display: flex;
    align-items: center;
  }
  .header__logoBranch {
    width: 240px;
  }
  .header__logoBranch.inFix {
    width: 70px;
  }
  .header__humbergetBtn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: left;
      height: 100%;
      margin-bottom: 0;
    }
    li {
      width: 100%;
      height: 3px;
      background-color: #444;
      transition: width .3s;
      &:nth-of-type(1) {
        width: 50%;
      }
      &:nth-of-type(2) {
        width: 80%;
      }
    }
  }
  .header__humbergetBtn.inFix{
    li {
      &:nth-of-type(1) {
        width: 100%;
      }
      &:nth-of-type(2) {
        width: 100%;
      }
    }
  }
  .header__user {
    .user__item {
      margin-left: 30px;
      font-size: 20px;
      line-height: 10px;
      cursor: pointer;
      position: relative;
      .notice {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #49cdd0;
        position: absolute;
        top: -5px;
        right: 0;
      }
      .notice__heartbeat {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #49cdd0;
        position: absolute;
        top: -15px;
        right: -10px;
        animation: heartbeat 1s ease-out infinite;
      }
    }
    .userIcon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #ccc;
    }
    .settingIcon {
      &:hover {
        &:after {
          opacity: 1;
        }
      }
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: -25px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgba(204, 204, 204, 0.517);
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s;
      }
    }
  }
  .adminHeader-sideBar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: calc(100vh - 50px);
    background: transparent;
    z-index: 1000;
    transition: width 0.2s;
  }
  .adminHeader-sideBar.show {
    width: 100%;
  }
}

// theme setting
@import "helpers/variables.scss";

.AdminHeader.lightTheme {
  background-color: $color-main-1 !important;
  color: $font-color-1 !important;
  .header__logoBranch {
    h4 {
      color: $font-color-1!important;
    }
  }
  .header__humbergetBtn {
    li {
      background-color: $font-color-1!important;
    }
  }
  .header__user {
    .settingIcon {
      &:after {
        background-color: rgba(204, 204, 204, 0.517);
      }
    }
  }
}
.AdminHeader.darkTheme {
  background-color: $color-main-2 !important;
  color: $font-color-2 !important;
  .header__logoBranch {
    h4 {
      color: $font-color-2!important;
    }
  }
  .header__humbergetBtn {
    li {
      background-color: $font-color-2!important;
    }
  }
  .header__user {
    .settingIcon {
      &:after {
        background-color: rgba(255, 253, 253, 0.517);
      }
    }
  }
}
.AdminHeader.custom {
  color: $font-color-2 !important;
  .header__logoBranch {
    h4 {
      color: $font-color-2!important;
    }
  }
  .header__humbergetBtn {
    li {
      background-color: $font-color-2!important;
    }
  }
  .header__user {
    .settingIcon {
      &:after {
        background-color: rgba(255, 253, 253, 0.517);
      }
    }
  }
}
.AdminHeader.custom1{
  background-color: $color-main-3 !important;
}
.AdminHeader.custom2{
  background-color: $color-main-4 !important;
}
.AdminHeader.custom3{
  background-color: $color-main-5 !important;
  .notice {
    background-color: #f8e23b!important;
  }
  .notice__heartbeat {
    background-color: #f8e23b!important;
  }
}
.AdminHeader.custom4{
  background-color: $color-main-6 !important;
}

@keyframes heartbeat {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0.1);
    opacity: 0.1;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.3;
  }
  75% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
