//color light theme
$color-main-1: #fff;
$color-sideBar-1: #f1f1f1;
$color-subSideBar-1: #e3e6e8;

// color dark theme
$color-main-2: #303548;
$color-sideBar-2: #252938;
$color-subSideBar-2: #2e3344;

// color custom 1
$color-main-3: #5093eb;
$color-sideBar-3: #186fad;
$color-subSideBar-3: #186fad;
// color custom 2
$color-main-4: #6673fc;
$color-sideBar-4: #545ed6;
$color-subSideBar-4: #545ed6;
// color custom 3
$color-main-5: #49d075;
$color-sideBar-5: #3fa961;
$color-subSideBar-5: #3fa961;
// color custom 4
$color-main-6: #e44f56;
$color-sideBar-6: #b54b50;
$color-subSideBar-6: #b54b50;

//font color

$font-color-1: #444;
$font-color-2: #fff;

//color
// $color-main-1: #181818;
// $color-main-2: #b61984;
// $color-main-3: #ffffff;
// $color-main-4: #dcd1f0;
// $color-main-5: #032055;
$color-white: white;
$color-black: black;
$color-sm-title: #404145;
$color-nav-title: #62646a;
$color-cato-title: #7a7d85;
$color-cato-sub: #b5b6ba;
$color-green-all: #1dbf73;
$color-green-review: #003912;
//font size
$fs-1: 15px;
$fs-2: 18px;
$fs-3: 16px;
$fs-4: 32px;
//font weight
$fw-1: 300;
$fw-2: 400;
$fw-3: 600;
$fw-4: 700;

//letter spacing

//Padding

//Margin

// width
$wid-1: 100%;
$wid-2: 85%;
$wid-3: 70%;
$wid-4: 88%;

//break points
$breakpoints: (
  "extra-large": 1200px,
  "mid-large": 1024px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
  "extra-small": 414px,
  "mid-large-down": 1023.99px,
  "extra-large-down": 1199.98px,
  "large-down": 991.98px,
  "medium-down": 767.98px,
  "small-down": 575.98px,
  "smallest": 320px,
);
