#signInt {
  .signIn__content {
    width: 100%;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 0 8px #95979d;
    padding: 20px 16px 24px;
    margin-top: 20px;
    text-align: center;
  }
  .form__header {
    h4 {
      font-size: 20px;
      color: #404145;
      font-weight: 700;
    }
  }
  .ant-form {
    .ant-input-password,
    .ant-picker,
    .ant-select-selector {
      padding: 0;
      padding-right: 11px;
    }
    input {
      padding: 8px 12px;
      border-radius: 4px;
      color: #404145;
      font-weight: 500;
    }
    input,
    .ant-input-password {
      &:focus {
        box-shadow: none;
      }
    }
    .ant-picker {
      width: 100%;
    }
    .ant-select-selector {
      height: 40px;
      text-align: left;
      padding-left: 12px;
      color: #404145;
      font-weight: 500;
      .ant-select-selection-item {
        line-height: 40px;
      }
    }
    .ant-form-item{
      &:nth-of-type(9){
        margin-bottom: 5px;
      }
      &:nth-of-type(11){
        margin-bottom: 5px;
      }
    }
    .certificationResult, .skillResult{
      text-align: left;
      margin-bottom: 20px;
      line-height: 2.2;
      .field1, .field2, .field3{
        padding: 3px 8px;
        border-radius: 16px;
        margin: 3px;
        position: relative;
        cursor: default;
        &:hover{
          i{
            transform: scale(0.8);
          }
        }
        i{
          position: absolute;
          top: -4px;
          right: -2px;
          font-size: 12px;
          color: #404145ac;
          transition: transform .2s;
          cursor: pointer;
        }
      }
      .field1{
        background: rgba(250, 131, 131, 0.537);
        
      }
      .field2{
        background: rgba(255, 247, 5, 0.537);
      }
      .field3{
        background: rgba(18, 255, 5, 0.537);
      }
    }
    button {
      display: flex;
      vertical-align: middle;
      justify-content: center;
      text-align: center;
      width: 100%;
      padding: 12px 24px;
      border: 1px solid transparent;
      border-radius: 4px;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      text-decoration: none;
      text-align: center;
      cursor: pointer;
      background-color: #1dbf73;
      color: #fff;
      p {
        margin-bottom: 0;
      }
    }
  }
  .remember-checkBox {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .checkBoxForm {
      border: 1px solid #404145;
      width: 15px;
      height: 15px;
      border-radius: 4px;
      text-align: center;
      line-height: 0;
      display: inline-block;
      margin-right: 2px;
      font-weight: 500;
      cursor: pointer;
      span.anticon {
        font-weight: 500;
        font-size: 13px;
        transform: scale(1);
        transition: transform .3s;
      }
    }
    .rememberNote{
      cursor: default;
    }
    .checkBoxForm.noShow{
      span.anticon {
        transform: scale(0);
      }
    }
  }
  .formIndentify-Account {
    margin-top: 20px;
    position: relative;
    padding-top: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #62646a;
    &:before {
      content: "";
      width: calc(100% + 32px);
      height: 1px;
      background-color: #e4e5e7;
      position: absolute;
      top: 0;
      left: -16px;
    }
    .indentify-btn {
      color: #1dbf73;
      margin-left: 5px;
      cursor: pointer;
    }
  }
}

@import "helpers/mixin.scss";
@import "helpers/variables.scss";

@include minResponsive(small) {
  #signInt {
    .signIn__content {
      width: 400px;
    }
  }
}
