header {
  position: relative;
  z-index: 1000;
}

#header-fixed {
  display: block;
  position: relative;
  .search-input-antd {
    width: 25%;
    .ant-input-group {
      .ant-input {
        font-weight: 600;
        &:hover {
          border-color: #1dbf73;
        }
        &:focus {
          border-color: #1dbf73;
        }
      }
      .ant-input-group-addon {
        button {
          font-weight: 700;
          border: none;
          background-color: #1dbf73;
          color: white;
          border-radius: 0 3px 3px 0;
        }
      }
    }
  }
  .header-fixed-reponsive {
    display: none;
  }
}

#header__content-fixed {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  position: relative;
  // top: -120px;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}

.header__icon-fixed img {
  width: 90px;
}
#header__content-fixed {
  .header__nav {
    display: flex;
    align-items: center;
    a {
      display: block;
      color: #7a7d85;
      font-weight: bold;
      padding: 0 10px;
      font-size: 16px;
    }
    .btn-navbar-join {
      button {
        background-color: transparent;
        border: 1px solid #1dbf73;
        color: #1dbf73;
        border-radius: 7px;
        padding: 3px 17px;
        font-weight: bold;
        transition: all 0.5s;
        &:hover {
          background-color: #1dbf73;
          color: white;
        }
      }
    }

    .dropdown-menu-lastchild {
      ul {
        width: 270px;
        li {
          color: unset;
          a {
            color: #7a7d85;
            font-weight: bolder;
          }
        }
      }
    }
  }
}

/* category */
#category__content {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 0px;
  z-index: 1;

  background-color: white;
  padding-top: 5px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  .li-cate {
    position: relative;
    .category__hover {
      display: none;
      background: white;
      box-shadow: 0 0 2px 1px #999999;
      column-count: 3;
      position: absolute;
      top: 20px;
      right: 0;
      padding: 20px 30px;
      column-gap: 30px;
      z-index: 1000;
      width: 900px;
    }
    &:first-child,
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      .category__hover {
        left: 0;
        right: unset;
      }
    }
    &:nth-child(4),
    &:nth-child(5) {
      .category__hover {
        right: -300px;
      }
    }
  }
}
#category__content ul {
  margin-bottom: 5px;
  width: 99%;
}
#category__content li {
  display: inline;
  margin: 0 13px;
}
#category__content a {
  color: #7a7d85;
}
#category__content span {
  color: #ff62ad;
  border: 1px solid;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 20px;
}

.hover__item {
  display: inline;
}
#category__content .hover__item li {
  display: block;
  text-align: left;
  width: 248px;
  padding: 3px 0;
}

.li-cate:hover {
  border-bottom: 3px solid #1dbf73;
  width: 100%;
}
.li-cate h6 {
  text-align: left;
  color: black;
  font-weight: bold;
  padding-left: 10px;
}
#category__content .li-cate .hover__item a {
  font-weight: normal;
}
#category__content .li-cate .hover__item .cate-special {
  color: rgb(57, 57, 236);
}

#category__content .pos-active {
  position: absolute;
  top: 20px;
  left: -150px;
  z-index: 1000;
}
.cate-active {
  column-count: 4;
}
.cate-three {
  column-count: 3;
}

#category__content .li-cate:hover .category__hover {
  display: block;
}
@media only screen and (max-width: 1024px) {
  #header__content-fixed {
    .header__nav {
      a {
        font-size: 14px;
      }
    }
  }
  #category__content {
    overflow-x: scroll;
    font-weight: 600;
    ul {
      width: 120%;
      .li-cate {
        margin: 0 10px;
        a {
          color: #adacac;
        }
        &:hover {
          .category__hover {
            display: none;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  header {
    .header__content {
      display: none;
    }
    #header-fixed {
      z-index: 1000;
      width: 100%;
      #header__content-fixed {
        display: none;
      }
      .header-fixed-reponsive {
        background-color: white;
        width: 100%;
        display: flex;
        padding: 20px 0 5px;
        justify-content: space-around;
        align-items: stretch;
        .menu-hidden-left {
          color: #7a7d85;
          transform: translateX(-15px);
          i {
            margin-top: 4px;
            font-size: 26px;
          }
        }
        .header-fixed-logo {
          transform: translateX(-65px);
          img {
            width: 90px;
          }
        }
        .search-input-antd {
          transform: translateX(-100px);
          .ant-input-group {
            border: 1px solid #ddd;
            .ant-input {
              border: none;
              font-weight: 600;
              &:hover {
                border-color: #1dbf73;
              }
              &:focus {
                border-color: #1dbf73;
              }
            }
            .ant-input-group-addon {
              button {
                display: none;
              }
            }
          }
        }
        ul {
          display: flex;
          li {
            a {
              background: transparent;
              font-weight: 600;
              font-size: 16px;
              color: #7a7d85;
            }
          }
          .li-join {
            border: 1px solid #1dbf73;
            background: white;
            border-radius: 5px;
            padding: 2px 20px;
            margin-left: 20px;
            a {
              color: #1dbf73;
            }
          }
        }
      }
    }
    #category__content {
      overflow-x: scroll;
      font-weight: 600;
      ul {
        width: 160%;
        .li-cate {
          margin: 0 10px;
          a {
            color: #adacac;
          }
          &:hover {
            .category__hover {
              display: none;
            }
          }
        }
      }
    }
  }
  .ant-drawer-open {
    .ant-drawer-content-wrapper {
      .ant-drawer-content {
        .ant-drawer-wrapper-body {
          .ant-drawer-header {
            padding-top: 30px;
            .ant-drawer-title {
              font-size: 17px;
              display: inline;
              background: #1dbf73;
              border-radius: 4px;
              padding: 10px 20px;
              font-weight: 600;
              a {
                color: white;
              }
            }
          }
          .ant-drawer-body {
            padding: 0;
          }
          .menu-visible {
            color: rgb(190, 185, 185);
            font-weight: 600;
            font-size: 17px;
            .ant-menu-item {
              .ant-menu-title-content {
                a {
                  color: rgb(190, 185, 185);
                }
              }
              &:hover {
                color: #1dbf73;
              }
            }

            .ant-menu-item-active {
              color: #1dbf73;
            }
            .ant-menu-submenu:hover,
            .ant-menu-submenu-arrow {
              color: #1dbf73;
            }
            .fiverr-pro {
              color: #02c2a9;
            }
            .fiverr-business {
              color: #1dbf73;
            }
            .general {
              color: black;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 736px) {
  header {
    #header-fixed {
      .header-fixed-reponsive {
        .menu-hidden-left {
          transform: translateX(-11px);
        }
      }
    }
    #category__content {
      overflow-x: scroll;
      font-weight: 600;
      ul {
        width: 167%;
        .li-cate {
          margin: 0 10px;
          a {
            color: #adacac;
          }
          &:hover {
            .category__hover {
              display: none;
            }
          }
        }
      }
    }
  }
  .video__vd img:last-child {
    top: 35%;
    left: 45%;
  }
}
@media only screen and (max-width: 667px) {
  header {
    #category__content {
      overflow-x: scroll;
      font-weight: 600;
      ul {
        width: 173%;
      }
    }
  }
  .video__vd img:last-child {
    top: 40%;
  }
}
@media only screen and (max-width: 414px) {
  header {
    .header__content {
      display: none;
    }
    #header-fixed {
      position: fixed;
      z-index: 1000;
      width: 100%;
      #header__content-fixed {
        display: none;
      }
      .header-fixed-reponsive {
        background-color: white;
        width: 100%;
        position: fixed;
        display: flex;
        padding: 20px 0 10px;
        justify-content: space-around;
        align-items: stretch;
        .menu-hidden-left {
          color: #7a7d85;
          i {
            margin-top: 4px;
            font-size: 26px;
          }
        }
        .header-fixed-logo {
          transform: translateX(0);
          img {
            width: 90px;
          }
        }
        .search-input-antd {
          display: none;
        }
        ul {
          li {
            a {
              background: transparent;
              font-weight: 600;
              font-size: 16px;
              color: #7a7d85;
            }
          }
          .li-signin {
            display: none;
          }
          .li-join {
            border: none;
            background: unset;
            border-radius: unset;
            padding: 0;
            margin: 0;
            a {
              color: #7a7d85;
            }
          }
        }
      }
    }
    #category__content {
      display: none;
    }
  }
}
