.sideBar {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 320px;
  box-shadow: 0 0 0 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  transition: right 0.2s;
  z-index: 1000;
  background-color: #fff;
  padding: 30px 20px;
  height: calc(100vh - 50px);
  .userCurrent {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    .userImg {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      padding: 3px;
      overflow: hidden;
      border: 3px solid #ccc;
      margin: auto;
      box-shadow: 0 8px 14px 0 #ccc;
      img {
        background-color: rgb(230, 28, 28);
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      p{
        margin-bottom: 0;
        font-weight: 700;
        font-size: 80px;
        color: #49d075;
        line-height: 80px;
      }
    }
    .userName {
      color: #444;
      font-size: 18px;
      font-weight: 600;
    }
    .userFeature {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      &> span {
        margin: 10px;
        cursor: pointer;
        color: #ff7070;
        &:hover {
            animation: wave 0.6s ease-out infinite;
          }
      }
      a {
        span {
          margin: 10px;
          cursor: pointer;
          color: #444;
          &:hover {
            animation: wave 0.6s ease-out infinite;
          }
        }
      }
    }
  }
  .sideBar__theme {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    .theme__title {
      margin-bottom: 30px;
      h6 {
        font-size: 18px;
      }
    }
    .theme__item {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  .standardBtn {
    font-size: 15px;
    font-weight: 500;
    width: 90%;
    margin: 0 10px 20px;
    padding: 8px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 14px 0 #ccc;
    &:hover {
      animation: wave 0.6s ease-out infinite;
    }
  }
  .standardBtn-light {
    background-color: #fff;
    color: #444;
  }
  .standardBtn-dark {
    background-color: #303548;
    color: #fff;
  }
}
.sideBar.show {
  right: 0;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(-3px);
  }
  75% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0);
  }
}
