.page-search-job {
  max-width: 1400px;
  padding-top: 30px;
  padding-bottom: 80px;
  width: 96%;
  margin: 0 auto;
  position: relative;
  .render-list-jobs {
    .result-sort {
      display: flex;
      justify-content: space-between;
      p {
        color: #7a7d85;
        font-weight: 600;
        font-size: 15px;
      }
      .search-by-switch {
        display: flex;
        div {
          label {
            font-weight: 600;
            margin-left: 15px;
            margin-right: 5px;
            color: #7a7d85;
          }
        }
      }
    }
    .main-content {
      row-gap: 26px;
      .job-item {
        .card-body {
          padding: 10px;
          .card-avatar {
            display: flex;
            align-items: center;
            span {
              font-weight: bold;
              p {
                color: #7a7d85;
                margin-bottom: 0;
              }
            }
          }
          p.text-star {
            font-weight: 600;
            color: #ffbe5b;
            span {
              color: #b5b6ba;
            }
          }
          p.text-active {
            cursor: pointer;
            color: #222325;
            font-size: 16px;
            font-weight: 400;
          }
        }
        .card-footer {
          padding: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            color: #7a7d85;
          }
          p {
            color: #7a7d85;
            font-weight: 700;
            font-size: 11px;
            span {
              font-size: 16px;
              color: #222325;
            }
          }
        }
        &:hover {
          .card-body {
            p.text-active {
              color: #1dbf73;
            }
          }
        }
      }
    }
  }
}



@media only screen and (max-width: 414px) {
  .page-search-job {
    padding-top: 50px;
    .render-list-jobs {
      .result-sort {
        flex-direction: column;
        .search-by-switch {
          flex-direction: column;
          .switch-icon {
            display: flex;
            justify-content: space-between;
          }
        }
      }
      .main-content {
        .job-item {
          height: 300px;
          .card-footer {
            gap: 55px;
          }
        }
      }
      .pagination {
        height: 30px;
        button {
          font-size: 10px;
          padding: 0 10px;
        }
      }
    }
  }
}
.pagination-app {
  position: absolute;
  bottom: 15px;
  right: 50%;
  transform: translate(50%, -50%);
  button {
    background-color: transparent;
    border: none;
    color: #404145;
    font-weight: 600;
    opacity: 0.9;
    margin-left: 10px;
    &:hover {
      opacity: 1;
    }
    &:disabled {
      color: #404145;
    }
  }
}
