.detail-list-subtype, .page-search-job {
  max-width: 1400px;
  padding: 32px;
  margin: auto;
  padding-bottom: 80px;
  position: relative;
  .info-type-subtype {
    h4 {
      color: #222325;
      font-size: 32px;
      font-weight: bolder;
      margin-bottom: 15px;
    }
    p {
      color: #95979d;
      font-size: 16px;
    }
  }
  .render-list-subtype, .render-list-jobs {
    .result-sort {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        color: #7a7d85;
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 0;
      }
      .switch-sortBtn{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .search-by-switch {
        display: flex;
        &>p{
          display: none;
        }
        div {
          label {
            font-weight: 600;
            margin-left: 15px;
            margin-right: 5px;
            color: #7a7d85;
          }
        }
      }
      .ant-switch-checked {
        background-color: #1dbf73;
      }
      .ant-switch-small {
        min-width: 35px;
        height: 20px;
        line-height: 20px;
      }
      .ant-switch-small .ant-switch-handle {
        width: 15px;
        height: 16px;
      }
      .ant-switch-handle {
        left: 3px;
      }
      .ant-switch-small.ant-switch-checked .ant-switch-handle {
        left: calc(100% - 16px - 2px);
      }
    }
    .main-content {
      row-gap: 26px;
      .job-item {
        .card-body {
          padding: 10px;
          .card-avatar {
            display: flex;
            align-items: center;
            span {
              font-weight: bold;
              p {
                color: #7a7d85;
                margin-bottom: 0;
              }
            }
          }
          p.text-star {
            font-weight: 600;
            color: #ffbe5b;
            font-size: 16px;
            span {
              color: #b5b6ba;
            }
          }
          p.text-active {
            cursor: pointer;
            color: #222325;
            font-size: 16px;
            font-weight: 400;
          }
        }
        .card-footer {
          padding: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            color: #7a7d85;
          }
          p {
            color: #7a7d85;
            font-weight: 700;
            font-size: 11px;
            span {
              font-size: 16px;
              color: #222325;
            }
          }
        }
        &:hover {
          .card-body {
            p.text-active {
              color: #1dbf73;
            }
          }
        }
      }
    }
  }
  .main-content {
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 33px;
  }
  .jobR {
    max-width: 100%;
    max-height: 310px;
    padding-right: 0;
    padding-left: 0;
    .jobRender-item {
      img {
        width: 100%;
      }
    }
    .jobRender-content {
      padding: 8px 15px 10px;
      font-size: 15px;
      a {
        overflow: hidden;
        word-wrap: break-word;
        word-break: break-word;
        color: #222325;
        display: -webkit-box;
        height: 52px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        h4 {
          font-size: 15px;
        }
      }
    }
    .jobRender-detail {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      .detail-rating {
        color: #ffdc60;
        .anticon {
          vertical-align: 1.25px;
          margin-left: 2px;
        }
      }
      h4 {
        margin-bottom: 0;
        font-size: 15px;
      }
      .detail-price {
        color: #1dbf73;
      }
    }
  }
}

@media only screen and (max-width: 991.99px) {
  .detail-list-subtype, .page-search-job {
    .main-content {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media only screen and (max-width: 575.99px) {
  .detail-list-subtype, .page-search-job {
    padding: 32px 16px 80px;
    .info-type-subtype {
      h4 {
        font-size: 24px;
      }
    }
    .main-content {
      grid-template-columns: repeat(2, 1fr);
    }
    .render-list-subtype, .render-list-jobs {
      .result-sort {
        margin-bottom: 10px;
        p{
          margin-bottom: 0;
        }
        justify-content: space-between;
        .search-by-switch {
          flex-direction: column;
          justify-content: flex-end;
          position: relative;
          & > p{
            padding: 5px 10px;
            margin-bottom: 0;
            color: #fff;
            display: block;
            width: 100px;
            border-radius: 10px;
            text-align: center;
            background-color: #1dbf73;
          }
          .switch-sortBtn{
            flex-direction: column;
            justify-content: flex-start;
            height: 0;
            padding: 0 10px;
            width: 170px;
            background-color: #fff;
            color: #1dbf73;
            overflow: hidden;
            position: absolute;
            top: 100%;
            right: 0;
            z-index: 150;
            transition: height, padding 0.2s;
          }
          .switch-sortBtn.show{
            height: 100px;
            padding: 10px;
          }
          .switch-icon {
            width: 100%;
            display: flex;
            justify-content: space-between;
            label{
              margin: 0;
              margin-bottom: 10px;
            }
          }
        }
      }
      .pagination {
        height: 30px;
        button {
          font-size: 10px;
          padding: 0 10px;
        }
      }
    }
  }
}
.pagination-app {
  position: absolute;
  bottom: 15px;
  right: 50%;
  transform: translate(50%, -50%);
  button {
    background-color: transparent;
    border: none;
    color: #404145;
    font-weight: 600;
    opacity: 0.9;
    margin-left: 10px;
    &:hover {
      opacity: 1;
    }
    &:disabled {
      color: #404145;
    }
  }
}