@import "helpers/variables.scss";

.fiverrLogomk__container {
  background-color: #4a73e8;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  h2 {
    color: white;
    font-weight: bold;
    font-size: calc($fs-4 + 2px);
  }
}
.fiverrLogomk__img {
  width: 100%;
  background-image: url("../../../../assets/images/homeNotLogin/logoMarker/logo-maker-banner-wide-desktop-1352-2x.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
.fiverrLogomk__text {
  width: 50%;
  color: white;
  padding-left: 3rem;
}
.fiverrLogomk__text span {
  font-size: 10px;
  font-weight: 700;
  padding: 0 10px;
}
.fiverrLogomk__text a {
  color: #4a73e8;
  background-color: white;
  font-weight: bold;
  outline: none;
  border: none;
  transition: all 0.5s;
}
.fiverrLogomk__text button:hover {
  background-color: #d4defb;
}
.fiverrLogomk__text svg {
  width: 188px;
  height: 26px;
}

@media only screen and (max-width: 768px) {
  .fiverrLogomk {
    .fiverrLogomk__container {
      flex-direction: column;
      .fiverrLogomk__text{
        width: 90%;
        padding-bottom: 0 !important;
      }
      .fiverrLogomk__img {
        height: 300px;
      }
    }
  }
}
