.uploadFile {
  .uploadFile__content {
    height: 150px;
    position: relative;
    .ant-form-item {
      height: 100%;
    }
    .ant-form-item-control {
      height: 100%;
    }
    .ant-form-item-control-input-content {
      height: 100%;
      & > span {
        display: flex;
        height: 100%;
      }
      div.ant-upload {
        width: 230px;
        height: 150px;
        span.ant-upload-btn {
          display: flex !important;
          align-items: center;
          justify-content: center;
          .anticon-inbox {
            display: block;
          }
        }
      }
    }
    .ant-upload-list {
      .ant-upload-list-picture-card-container {
        height: 100%;
        width: 200px;
      }
      img{
          object-fit: none!important;
          opacity: 1!important;
      }
    }
    .ant-upload-drag-icon {
      margin-bottom: 0 !important;
    }
    .anticon-eye {
      vertical-align: 0 !important;
    }
    .renderImage {
      position: absolute;
      top: 0;
      left: 230px;
      height: 150px;
      width: 230px;
      padding: 8px;
      border: 1px solid #d9d9d9;
      .renderImage__content {
        position: relative;
        width: 100%;
        margin: auto;
        height: 100%;
        &:after{
            content: "";
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 0;
            transition: opacity 0.2s;
        }
        &:hover{
            &:after{
                opacity: 1;
                z-index: 9;
            }
            .icon{
                opacity: 1;
                z-index: 10;
            }
        }
      }
      img {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;
      }
      .icon {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        z-index: 0;
        opacity: 0;
        transition: opacity 0.2s;
        span {
          font-size: 16px;
          color: rgba(255, 255, 255, 0.8);
          font-weight: 700;
          cursor: pointer;
        }
      }
    }
  }
}
