footer {
  padding-top: 3rem;
  .footer__container {
    width: 95%;
    margin: auto;
  }
  .footer-responsive {
    display: none;
  }
}
.footer__box a {
  text-decoration: none;
}
.footer__box a:hover {
  text-decoration: underline;
  color: #95979d;
}
footer ul {
  list-style: none;
}
.footer__box p {
  margin: 0;
  margin-top: -15px;
  font-size: 14px;
  line-height: normal;
  word-spacing: normal;
  color: #b5b6ba;
  padding-bottom: 16px;
}
.footer__box li {
  color: #7a7d85;
  font-size: 16px;
  line-height: normal;
  word-spacing: normal;
  padding-bottom: 16px;
}

footer {
  .footer-mini-bottom {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-top: 1px solid #e4e5e7;
    .mini-left {
      img {
        width: 80px;
        margin-right: 15px;
      }
      span {
        color: #7a7d85;
        font-size: 16px;
      }
    }
    .mini-right {
      display: flex;
      color: #7a7d85;
      align-items: center;
      li {
        display: inline;
        cursor: pointer;
      }
      .mini-logo {
        margin-right: 50px;
        li {
          margin: 24px;
          font-size: 24px;
        }
      }
      .mini-button {
        li {
          margin: 10px;
          font-size: 16px;
        }
        .circle-human {
          border: 1px solid #7a7d85;
          border-radius: 50%;
          padding: 5px 12px;
        }
      }
    }
  }
}

.mini-modal {
  .ant-modal-content {
    overflow-y: auto;
    max-height: 90vh;
  }
  .ant-modal-header {
    border: none;
    border-radius: 7px 7px 0 0;

    .ant-modal-title {
      color: #404145;
      font-size: 20px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .footer-mini-bottom{
    flex-direction: column;
    .mini-right{
      margin-top: 14px;
    }
  }
}
@media only screen and (max-width: 414px) {
  footer {
    padding-top: 10px;
    .footer__container {
      .footer__content {
        display: none;
      }
    }
    .footer-responsive {
      display: block;
      font-weight: 600;
      .ant-menu {
        .ant-menu-submenu-title:hover {
          color: #7a7d85;
        }
        .ant-menu-submenu {
          color: #7a7d85;
          font-size: 16px;
          .ant-menu-submenu-arrow {
            color: #7a7d85;
          }
        }
        .ant-menu-submenu-active {
          color: #7a7d85;
        }
      }
    }
    .footer-mini-bottom {
      flex-direction: column;
      .mini-left {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .mini-right {
        flex-direction: column;
        .mini-logo {
          display: flex;
          margin-right: 0;
        }
        .mini-button {
          display: flex;
        }
      }
    }
  }
}
