.header-fixed-reponsive {
  display: none;
}
#header__content-loggedin {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;

  .dropmenu-user {
    left: -40% !important;
    top: 30px !important;
    transform: none !important;
  }
  .mainbutton-fixed {
    margin-left: 60px;
    width: 10px;
    height: 10px;
    background-color: green;
    border: none;
    border-radius: 50%;
  }

  .header__icon-fixed {
    margin-left: 6px;
    img {
      width: 90px;
    }
  }
  .header__nav-fixed {
    display: flex;
    align-items: center;

    .avatar-mini {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      object-fit: cover;
      cursor: pointer;
    }
  }
  .header__nav-fixed {
    li {
      display: inline;
      padding: 0 6px;
    }
    a {
      font-weight: 600;
      font-size: 16px;
      color: #8e8f93;
      padding: 7px;
      transition: all 0.3s;
    }
    .btn-dis-fixed-pro {
      color: #02c2a9;
    }
    button {
      background-color: #1dbf73;
      border-radius: 50%;
      font-weight: bold;
      font-size: 18px;
      border: none;
      color: white;
      transition: all 0.5s;
      width: 40px;
      height: 40px;
    }
  }
  .header__nav-fixed a:hover {
    color: #1dbf73;
  }
  .header__nav-fixed button:hover {
    background-color: white;
    color: #1dbf73;
    border: 1px solid #1dbf73;
  }
  .header__nav-fixed .dropdown-menu a {
    display: block;
    width: 90%;
    margin: auto;
    padding: 4px 26px;
  }
  .header__nav-fixed .lastchild-fixed a {
    width: 300px;
  }
}

#header-fixed-loggedin {
  .search-input-antd-loggedin {
    width: 25%;
    margin-right: 55%;
    .ant-input-group {
      .ant-input {
        font-weight: 600;
        &:hover {
          border-color: #1dbf73;
        }
        &:focus {
          border-color: #1dbf73;
        }
      }
      .ant-input-group-addon {
        button {
          font-weight: 700;
          border: none;
          background-color: #1dbf73;
          color: white;
          border-radius: 0 3px 3px 0;
        }
      }
    }
  }
}

/* category */
#category__content-loggedin {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 0px;
  display: block;
  background-color: white;
  padding-top: 5px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
  z-index: 1;
  font-weight: bolder;
  ul {
    margin-bottom: 5px;
  }
  li {
    display: inline;
    margin: 0 17px;
  }
  a {
    color: #7a7d85;
  }
  span {
    color: #ff62ad;
    border: 1px solid;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 20px;
  }
  .hover__item {
    display: inline;
    li {
      display: block;
      text-align: left;
      width: 248px;
      padding: 3px 0;
    }
  }
  .li-cate {
    position: relative;
    &:hover {
      border-bottom: 3px solid #1dbf73;
      width: 100%;
      .category__hover {
        display: block;
        width: 800px;
      }
    }
    h6 {
      text-align: left;
      color: black;
      font-weight: bold;
      padding-left: 10px;
    }
    .hover__item a {
      font-weight: normal;
    }
    .cate-special {
      color: rgb(57, 57, 236);
    }
    &:nth-child(9),
    &:nth-child(8),
    &:nth-child(7),
    &:nth-child(6) {
      .category__hover {
        left: unset;
        right: 0;
      }
    }
    &:nth-child(5),
    &:nth-child(4) {
      .category__hover {
        column-gap: 0;
        left: -435px;
      }
    }
  }
  .category__hover {
    display: none;
    background: white;
    box-shadow: 0 0 2px 1px #999999;
    column-count: 2;
    position: absolute;
    top: 20px;
    left: 0;
    padding: 20px 30px;
    column-gap: 30px;
    z-index: 1000;
  }
  .pos-right {
    position: absolute;
    top: 20px;
    right: 0;
    left: -500px;
    z-index: 1000;
  }
  .pos-active {
    position: absolute;
    top: 20px;
    left: -150px;
    z-index: 1000;
  }
  .cate-active {
    column-count: 3;
  }
  .cate-three {
    column-count: 3;
  }
}

#components-dropdown-demo-arrow .ant-btn {
  margin-right: 8px;
  margin-bottom: 8px;
}
.ant-row-rtl #components-dropdown-demo-arrow .ant-btn {
  margin-right: 0;
  margin-bottom: 8px;
  margin-left: 8px;
}
@keyframes example {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.relativeDot {
  position: relative;
  .name-avatar {
    background-color: #1dbf73 !important;
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
    border: none;
    color: white !important;
    transition: all 0.5s;
    width: 40px;
    height: 40px;
  }
  .dot {
    top: 0;
    position: absolute;
    border-radius: 50%;
    border: 1px solid #19a463;
    background-color: #1dbf73;
    width: 10px;
    height: 10px;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.01, 0.35, 1, 1.38);
  }
}
@import "helpers/variables.scss";
@import "helpers/mixin.scss";

@media only screen and (max-width: 1024px) {
  #category__content-loggedin {
    overflow-x: scroll;
    font-weight: 600;
    ul {
      width: 122%;
      .li-cate {
        margin: 0 10px;
        &:hover {
          .category__hover {
            display: none;
          }
        }
      }
    }
  }
}

@include maxResponsive(medium) {
  #header-fixed-loggedin {
    #header__content-loggedin {
      display: none;
    }
    .header-fixed-reponsive {
      background-color: white;
      width: 100%;
      display: flex;
      padding: 20px 0 5px;
      justify-content: space-around;
      align-items: stretch;
      .menu-hidden-left {
        color: #7a7d85;
        transform: translateX(-33px);
        i {
          margin-top: 4px;
          font-size: 26px;
        }
      }
      .header-fixed-logo {
        transform: translateX(-120px);
        img {
          width: 90px;
        }
      }
      .search-input-antd {
        transform: translateX(-190px);
        width: 25%;
        .ant-input-group {
          border: 1px solid #ddd;
          .ant-input {
            border: none;
            font-weight: 600;
            &:hover {
              border-color: #1dbf73;
            }
            &:focus {
              border-color: #1dbf73;
            }
          }
          .ant-input-group-addon {
            button {
              display: none;
            }
          }
        }
      }
    }
  }
  .relativeDot {
    img {
      object-fit: cover;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  #category__content-loggedin {
    overflow-x: scroll;
    font-weight: 600;
    ul {
      width: 160%;
      .li-cate {
        margin: 0 10px;
        &:hover {
          .category__hover {
            display: none;
          }
        }
      }
    }
  }
  .drawer-loggedin {
    .ant-drawer-content-wrapper {
      .ant-drawer-content {
        .ant-drawer-wrapper-body {
          .ant-drawer-header {
            padding: 20px 5px;
            .ant-drawer-title {
              background: unset;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 736px) {
  #category__content-loggedin {
    ul {
      width: 166%;
    }
  }
}
@media only screen and (max-width: 667px) {
  #category__content-loggedin {
    ul {
      width: 184%;
    }
  }
}
@include maxResponsive(extra-small) {
  #header-fixed-loggedin {
    .header-fixed-reponsive {
      height: 100px;
      position: relative;
      border-bottom: 1px solid #ddd;
      .menu-hidden-left {
        transform: translateX(-40px);
      }
      .search-input-antd {
        width: 85%;
        position: absolute;
        bottom: 9px;
        transform: translateX(1%);
      }
      .hidden-responsive {
        display: none;
      }
      .header-fixed-logo {
        transform: translateX(-70px);
      }
    }
  }
  #category__content-loggedin {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  #header-fixed-loggedin {
    .header-fixed-reponsive {
      height: 100px;
      position: relative;
      border-bottom: 1px solid #ddd;
      .menu-hidden-left {
        transform: translateX(-35px);
      }
    }
  }
}
