* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
html,
body {
  background-color: #fff;
  font: 400 16px/24px Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #62646a;
  position: relative;
  width: 100%;
  height: auto!important;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
}
ul{
  list-style-type: none;
}
li {
  list-style: none !important;
}
::-webkit-scrollbar {
	width: 3px;
}
::-webkit-scrollbar-thumb {
	background-color: #e2e2e2;
	border-radius: 2px;
}

