.services {
  margin-top: 80px;
  width: 95%;
  margin: 100px auto;
  & > h2 {
    font-size: 32px;
    font-weight: bold;
    padding: 0 0 20px 12px;
  }
  .slick-prev {
    left: -13px;
    padding: 25px;
    background-color: white;
  }
  .slick-next {
    right: -18px;
    padding: 25px;
    background-color: white;
  }
  .slick-prev:before,
  .slick-next:before {
    color: transparent;
    position: absolute;
    top: 31%;
    right: 33%;
  }

  .services__text {
    position: absolute;
    color: white;
    top: 16px;
    padding-left: 30px;
    font-size: 14px;
  }
  .services__text h2 {
    font-size: 24px;
    margin-top: -20px;
    font-weight: bolder;
    color: white;
  }
  .services__image img {
    width: 90%;
    height: 315px;
    margin: 0 auto;
  }
  .services__item {
    position: relative;
  }

  .services-overlay {
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    left: 13px;
    width: 90%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    cursor: pointer;
  }
  .services-overlay:hover {
    opacity: 1;
    transition: all 0.5s;
  }
}

//
@media only screen and (max-width: 375px) {
  .services{
    margin: 30px auto;
  }
}
