@import "helpers/variables.scss";

.editors-picks, .popular-gigs {
  margin-top: 50px;
  & > h3 {
    color: $color-sm-title;
  }
  .editors-row, .popular-gigsRow {
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 33px;
    .editor-item {
      &:hover {
        p.text-active {
          a {
            color: #1dbf73;
          }
        }
      }
      .card-body {
        padding: 1rem;
        .card-avatar {
          span {
            font-weight: bolder;

            img {
              display: inline;
              border-radius: 50%;
              width: 24px;
              border: 1px solid gray;
              margin-right: 10px;
            }
          }
        }
        p {
          a {
            color: #404145;
          }
          font-size: 18px;

          &:last-child {
            font-size: 13px;
            color: #ffbe5b;
            font-weight: bolder;
            .fa {
              margin-right: 4px;
            }
            span {
              color: #b5b6ba;
            }
          }
        }
      }
      .card-footer {
        background-color: white;
        display: flex;
        padding: 0.25rem 1rem;
        justify-content: space-between;
        align-items: flex-end;
        span {
          color: #b5b6ba;
          .fa {
            font-size: 20px;
            margin-right: 7px;
          }
        }
        p {
          font-size: 11px;
          font-weight: bolder;
          span {
            color: #404145;
            font-size: 20px;
            font-weight: normal;
          }
        }
      }
    }
  }
}

.pagination-app {
  position: absolute;
  bottom: 15px;
  right: 50%;
  transform: translate(50%, -50%);
  button {
    background-color: transparent;
    border: none;
    color: #404145;
    font-weight: 600;
    opacity: 0.9;
    margin-left: 10px;
    &:hover {
      opacity: 1;
    }
    &:disabled {
      color: #404145;
    }
  }
}

@media only screen and (max-width: 768px) {
  .editors-picks, .popular-gigs {
    .editors-row, .popular-gigsRow {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media only screen and (max-width: 414px) {
  .editors-picks, .popular-gigs {
    .editors-row, .popular-gigsRow {
      grid-template-columns: repeat(2, 1fr);
    }
    .pagination {
      height: 30px;
      button {
        font-size: 10px;
        padding: 0 10px;
      }
    }
  }
}
