@import "helpers/variables.scss";

.fiverrProject {
  background-color: #f5f5f5;
}
.fiverrProject__content {
  position: relative;
  width: 95%;
  margin: auto;
}
.fiverrProject__title a {
  text-decoration: none;
}
.fiverrProject__title a:hover {
  color: #007bff;
}
.fiverrProject__item {
  display: flex;
  flex-direction: column;
  margin: 0 15px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0.14px 2.29266px rgb(0 0 0 / 3%),
    0 0.37px 4.42626px rgb(0 0 0 / 5%), 0 3px 7px rgb(0 0 0 / 9%);
  width: 90% !important;
}
.fiverrProject__item a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}
.fiverrProject__item #username {
  color: #95979d;
}
.fiverrProject__img,
.fiverrGuides__img {
  transition: all 0.5s;
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.fiverrProject__img .img-fluid,
.fiverrGuides__img .img-fluid {
  height: 237px;
  border-radius: 4px 4px 0 0;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.fiverrProject__img:hover,
.fiverrGuides__img:hover {
  opacity: 0.85;
}
.fiverrProject__bot {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 16px 0 16px 16px;
}
.fiverrProject__user {
  width: 20%;
  margin-right: 5px;
}
.fiverrProject__user img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.see-more-link {
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  color: #4a73e8;
  font-size: $fs-2;
  padding-top: 16px;
  &:active {
    color: #4a73e8;
  }
}

.fiverrProject__content {
  h2 {
    color: $color-sm-title;
    font-size: $fs-4;
    margin-left: 16px;
  }
  .slick-prev {
    left: -13px;
    padding: 25px;
    background-color: white;
    top: 46%;
  }
  .slick-next {
    right: -13px;
    padding: 25px;
    background-color: white;
    top: 46%;
  }
  .slick-prev:before,
  .slick-next:before {
    color: transparent;
    position: absolute;
    top: 31%;
    right: 33%;
  }
}

@media only screen and (max-width: 768px) {
  .fiverrProject {
    .fiverrProject__content {
      padding-bottom: 50px;
      h2 {
        font-size: 30px;
      }
      .see-more-link {
        font-weight: 600;
        top: unset;
        left: 0;
      }
    }
  }
}
