@import "helpers/variables.scss";

.profile-user {
  max-width: 1400px;
  margin: 0 auto !important;
  justify-content: space-around;
  background-color: #f7f7f7;
  color: $color-nav-title;
  padding-bottom: 10vh;
  .profile-left {
    padding: 0;
    margin-top: 50px;

    .info-basic {
      position: relative;
      padding: 0 30px;
      background-color: $color-white;
      border: 1px solid #ddd;
      .info-top {
        text-align: center;
        .icon-edit {
          font-size: 16px;
          &:hover {
            color: black;
            cursor: pointer;
          }
        }
        .custom-input-file {
          display: none;
          position: absolute;
          label {
            cursor: pointer;
            background-color: black !important;
            color: #ffffff;
            padding: 10px 20px;
            i {
              padding: 10px;
              top: 43px;
              font-size: 40px;
              position: absolute;
              left: 46px;
              background-color: gray;
              border-radius: 50%;
              line-height: 100%;
            }
          }
          #upload {
            opacity: 0;
            position: absolute;
            z-index: -1;
          }
        }
        .avatar-edit {
          margin: auto;
          width: 150px;
          font-size: 20px;
          position: relative;
          margin-top: 50px;
          transition: all 2s;
          border-radius: 50%;
          &:hover {
            .custom-input-file {
              width: 100%;
              display: block;
              top: 0;
              opacity: 0.7;
              border-radius: 50%;
              height: 100%;
            }
          }
          .avatar-user {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
          }

          label {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: $color-cato-sub;
            position: relative;

            span {
              color: white;
              position: absolute;
              top: 25%;
              font-size: 50px;
              left: 40%;
              font-weight: 600;
            }
          }
        }
        p {
          margin: 10px 0 4px;
          font-weight: 700;
          font-size: 20px;
        }
        button {
          margin: 20px 0;
          width: 100%;
          background-color: $color-white;
          padding: 7px 16px;
          font-size: 14px;
          color: #62646a;
          border: 1px solid #ddd;
          font-weight: 700;
          border-radius: 5px;
          &:hover {
            background-color: $color-nav-title;
            border: 1px solid $color-nav-title;
            color: $color-white;
          }
        }
        .span-online {
          color: $color-green-all;
          position: absolute;
          top: 24px;
          right: 30px;
          border: 1px solid $color-green-all;
          padding: 0 6px;
          border-radius: 16px;
        }
      }
      .info-bottom {
        padding-top: 20px;
        border-top: 1px solid $color-cato-sub;
        .from {
          display: flex;
          justify-content: space-between;
          span {
            font-weight: 600;
            i {
              margin-right: 8px;
            }
          }
          p {
            font-weight: $fw-4;
          }
        }
        .member-since {
          display: flex;
          justify-content: space-between;
          span {
            font-weight: 600;
            i {
              margin-right: 10px;
            }
          }
          p {
            font-weight: $fw-4;
          }
        }
      }
    }
    .learn {
      padding: 30px;
      margin-top: 32px;
      text-align: center;
      background-color: $color-white;
      border: 1px solid #ddd;
      position: relative;
      & > img {
        left: 30px;
        position: absolute;
      }
      & > div {
        margin-top: 50px;
        p {
          font-size: 20px;
          &:last-child {
            font-weight: 600;
            font-size: 16px;
          }
        }
      }
      button {
        padding: 12px 24px;
        background-color: $color-green-all;
        color: $color-white;
        font-size: $fs-3;
        border: none;
        width: 100%;
        font-weight: 600;
        line-height: 100%;
        border-radius: 4px;
        transition: all 0.15s ease-in-out;
        &:hover {
          background-color: #19a463;
        }
      }
    }
    .info-others {
      background-color: $color-white;
      margin-top: 32px;
      padding: 15px 30px;
      border: 1px solid #ddd;
      p {
        font-weight: 700;
        font-size: 16px;
      }

      .skill,
      .certification {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: 1px solid #ddd;
        margin: 15px 0;
        gap: 72px;
        button {
          color: #00698c;
          border: none;
          font-weight: 600;
          background-color: transparent;
          font-size: 14px;
          margin-bottom: 10px;
        }
        input[type="text"] {
          border: none;
          margin-bottom: 16px;
          color: $color-cato-title;
          &:focus-visible {
            outline: none;
          }
        }
      }
      .certification {
        border: none;
      }
      .link-accounts {
        border-bottom: 1px solid #ddd;

        li {
          margin-bottom: 10px;
          a {
            color: #00698c;
            font-size: 14px;
            font-weight: 600;
            span {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .profile-right {
    margin-top: 50px;
    padding: 0;
    .info-bars {
      border: 1px solid #ddd;
      background-color: $color-white;
      width: 100%;
      border-radius: 2px;
      padding: 0 10px;
      margin-bottom: 40px;
      position: relative;
      p {
        width: fit-content;
        padding: 10px 0;
        margin-right: 35px;
        font-size: 14px;
        line-height: 130%;
        font-weight: 600;
        cursor: pointer;
        color: #303030;
        position: relative;
        border-bottom: 4px solid $color-green-all;
        margin-bottom: 0;
        span {
          font-weight: 700;
          font-size: 20px;
          color: $color-green-all;
        }
      }
    }
    .tab-profile-right-content {
      .ant-tabs-nav {
        border: 1px solid #ddd;
        background-color: $color-white;
        width: 100%;
        border-radius: 2px;
        padding: 0 25px;
        margin-bottom: 40px;
        position: relative;
        .ant-tabs-nav-list {
          .ant-tabs-tab {
            .ant-tabs-tab-btn {
              color: $color-nav-title;
              font-weight: 600;
            }
          }
          .ant-tabs-tab-active {
            padding: 23px 0;
            font-size: 15px;
            font-weight: 600;
            border-bottom: 4px solid $color-green-all;
            z-index: 2;
            .ant-tabs-tab-btn {
              color: $color-green-all;
            }
          }
        }
      }
      .profile-right-content {
        .buying-services {
          border: 1px solid #ddd;
          padding: 16px 16px 10px 32px;
          display: flex;
          background-color: $color-white;
          justify-content: space-between;
          img {
            width: 60px;
            height: 60px;
            margin-top: 17px;
          }
          & > div {
            padding: 0px 30px 0 17px;
          }
          p {
            font-size: $fs-3;

            &:last-child {
              line-height: 1.75;
              color: $color-green-all;
              font-weight: $fw-3;
            }
          }
          span {
            font-weight: $fw-4;
          }
        }
        .create-gig {
          border: 1px solid #ddd;
          justify-content: space-between;
          display: flex;
          padding: 20px 24px;
          margin-top: 16px;
          background-color: $color-white;
          align-items: baseline;
          p {
            font-size: 15px;
            margin-bottom: 0;
          }
          button {
            background-color: $color-green-all;
            color: white;
            padding: 0 12px;
            font-weight: $fw-4;
            border-radius: 3px;
            line-height: $fs-4;
            font-size: 13px;
            border: none;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
      .profile-right-content-jobs {
        .jobs-content {
          row-gap: 30px;

          .card {
            .card-img-top {
              &:hover {
                cursor: pointer;
              }
            }
            .card-body {
              padding: 5px 10px 10px;
              position: relative;
              .overlay {
                text-align: center;
                left: 0;
                top: 0;
                position: absolute;
                background: white;
                width: 100%;
                height: 100%;
                transform: translateY(150px);
                transition: all 1s cubic-bezier(0.03, 1.33, 0.99, 1.1);
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                font-weight: 700;
                padding-top: 14px;
                visibility: hidden;
                opacity: 0;
                a {
                  color: gray;
                }
                i {
                  width: 20px;
                }
                button {
                  border: none;
                  background-color: transparent;
                  font-weight: 700;
                  color: gray;
                }
              }
              h4.card-title {
                font-size: 15px;
                line-height: 140%;
                font-weight: 600;
                color: #303030;
                overflow: hidden;
                margin: 0;
                -ms-word-wrap: break-word;
                word-wrap: break-word;
                -ms-word-break: break-word;
                word-break: break-word;
                -webkit-transition: 0.15s ease-in-out;
                transition: 0.15s ease-in-out;
                width: fit-content;
                margin-bottom: 20px;
                &:hover {
                  border-bottom: 1px solid $color-green-all;
                  color: $color-green-all;
                  cursor: pointer;
                }
              }
              p.card-text {
                color: $color-green-all;
                font-size: 11px;
                font-weight: 700;
                text-transform: uppercase;
                vertical-align: top;
                padding: 1px 5px 0 0;
                text-align: right;
                span {
                  font-size: 18px;
                  line-height: 20px;
                  font-weight: 700;
                  padding: 0 6px;
                }
              }
            }
            &:hover {
              .card-body {
                h4.card-title {
                  color: #19a463;
                }
              }
            }
            .hover-overlay {
              &:hover {
                .overlay {
                  visibility: visible;
                  transform: translateY(0);
                  opacity: 1;
                }
              }
            }
          }
          .create-new-gig {
            position: relative;
            text-align: center;
            height: 100%;
            justify-content: center;
            a {
              margin: 42.5px 30px;
              span {
                border-radius: 50%;
                background-color: #78cdd2;
                font-size: 60px;
                font-weight: 700;
                color: white;
                padding: 0 25px 10px;
              }
              p {
                color: $color-nav-title;
                font-weight: 700;
                margin-top: 20px;
              }
            }
          }
        }
      }
      .render-job-rent,
      .render-job-finished {
        background-color: white;
        padding: 5px;
        border: 1px solid #ddd;
      }
      .render-job-rent {
        .action-table-gigs {
          display: flex;
          justify-content: space-evenly;
          span.filedoneoutlined {
            cursor: pointer;
            color: #19a463;
          }
          span.eyeoutlined {
            color: #00698c;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@keyframes example {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.span-online {
  .dot {
    border-radius: 50%;
    border: 1px solid #19a463;
    background-color: #1dbf73;
    font-size: 9px;
    margin: 5px;
    padding: 0px 5px;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.01, 0.35, 1, 1.38);
  }
}
@media only screen and (max-width: 768px) {
  .profile-user {
    margin-left: 0 !important;
    margin-right: 0 !important;
    .profile-left {
      .info-basic {
        .info-top {
          .avatar-edit {
            width: unset;
            .avatar-user {
              width: 50px;
              height: 50px;
            }
            .custom-input-file {
              label {
                width: 50px;
                height: 50px;
                i {
                  top: 0;
                  font-size: 30px;
                  left: 0;
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      }
      .info-others {
        .skill,
        .certification {
          gap: 0;
        }
      }
    }
    .profile-right {
      padding-left: 0 !important;
      padding-right: 0 !important;
      .tab-profile-right-content {
        .profile-right-content {
          .create-gig {
            gap: 20px;
            button {
              width: 140px;
            }
          }
        }
        .profile-right-content-jobs {
          .jobs-content {
            .create-new-gig {
              a {
                margin: 0;
                span {
                  padding: 0px 10px 5px;
                  font-size: 35px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 414px) {
  .profile-user {
    margin-left: 0 !important;
    margin-right: 0 !important;
    .profile-left {
      .info-basic {
        .info-top {
          .avatar-edit {
            width: unset;
            margin-top: 35px;
            .avatar-user {
              width: 50px;
              height: 50px;
            }
            .custom-input-file {
              label {
                width: 50px;
                height: 50px;
                i {
                  top: 0;
                  font-size: 30px;
                  left: 0;
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
          p {
            font-size: 10px;
          }
          .icon-edit {
            display: none;
          }
          .span-online {
            top: 10px;
            right: 7px;
            font-size: 10px;
            padding: 0 2px;
            .dot {
              display: inline-block;
              transform: translateY(4px);

              padding: 2px;
            }
          }
          button {
            display: none;
          }
        }
        .info-bottom {
          display: none;
        }
      }
      .info-others {
        padding: 0 10px;
        .skill,
        .certification {
          gap: 0;
          p {
            font-size: 12px;
          }
          input[type="text"] {
            font-size: 9px;
            margin-bottom: 0;
          }
          button {
            font-size: 10px;
          }
        }
      }
    }
    .profile-right {
      padding-left: 0 !important;
      padding-right: 0 !important;
      .tab-profile-right-content {
        .profile-right-content {
          .buying-services {
            display: none;
          }
          .create-gig {
            gap: 20px;
            p {
              display: none;
            }
            button {
              width: 140px;
            }
          }
        }
        .ant-tabs-nav {
          margin-bottom: 10px;
          padding: 0 10px;
          .ant-tabs-nav-list {
            .ant-tabs-tab {
              font-size: 12px;
              padding: 0;
              border-width: 2px;
            }
          }
        }

        .ant-tabs-content-holder {
          color: #000;
          .ant-tabs-content {
            .ant-tabs-tabpane {
              .render-job-booked,
              .render-job-book-finished,
              .render-job-rent,
              .render-job-finished {
                .ant-table-content {
                  .ant-table-thead {
                    .ant-table-cell {
                      font-size: 7px;
                    }
                  }
                  .ant-table-tbody {
                    .ant-table-cell {
                      font-size: 7px;
                      img {
                        width: 24px !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .info-bars {
        padding-top: 10px;
        p {
          margin-bottom: 10px;
          border-width: 1px;
          font-size: 10px;
          padding: 0;
          margin-right: 20px;
          margin-left: 10px;
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
  .profile-user .profile-left .info-basic .info-top .avatar-edit label {
    width: 60px;
    height: 60px;
    span {
      font-size: 26px;
      top: 20%;
    }
  }
}

@media only screen and (max-width: 375px) {
  .profile-user {
    .profile-left {
      .info-others {
        .skill,
        .certification {
          button {
            transform: translateX(-17px);
          }
        }
      }
    }
    .profile-right {
      .tab-profile-right-content {
        
        .render-job-rent {
          padding: 10px;
        }
        .render-job-finished {
          padding: 5px;
        }
      }
      .info-bars {
        padding: 10px 5px 0 5px;
        p {
          
          margin-right: 10px;
        }
      }
    }
  }
}
